
li{
    list-style: none;
}

.gallery{
    display: flex;
}

.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.material-icons{
    display: flex;
    justify-content: center;
}
