<div class="block__form container">
    <form class="search-form" id="search-form">
        <input type="text" name="query" autocomplete="off" placeholder="Search images..." class="input__form" />
    </form>
</div>