<form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
</form>
<button type="button" class="button__open"> Загрузить еще</button>